.home-content {
    text-align: center;
    margin-top: 0px;
    color: rgb(0, 0, 0);
  }
  
  .home-content h1 {
    font-size: 2.5rem;
    margin-bottom: 0px;
  }
  
  .home-content p {
    font-size: 1.2rem;
  }
  